*.[o]
bin/*
lib/*
src/lcmtypes/

current.map
*startuplog.*

!lib/libsweep.so
!lib/librplidar_sdk.a

.idea
CMakeLists.txt
cmake-build*
recording.csv
data/*.jlp
.vscode/settings.json
.vscode/settings.json
